<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS </title>
   <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
  </head>
  <body>
    <div id= 'app'>
        <!-- Class and Style Bindings -->
        <h1>First Name = {{firstName}}</h1>     
        <p>{{about}}</p>  
        <!-- <input v-on:keyup='handleKeyup' type='text' placeholder='Nhap first name'>   -->
        <input v-model='firstName' type='text' placeholder='Nhap first name'>
        <textarea v-model='about' cols='30' rows='10'></textarea>
        <hr>
        
        <!-- Binding HTML Classes -->
        <!-- <div v-bind:class="'demo-' + textClass"></div> -->
        <!-- <div class='demo' v-bind:class="{ active: isActive, error: isError }"></div> -->
        <div class='demo' v-bind:class="objClass"></div>
        <button v-on:click='changeActive'>Change Active</button>
        <button v-on:click='changeError'>Change Error</button>
        <hr>
        
        <!-- Binding Inline Styles -->
        <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">Test Styles Binding</div>

    </div>
  </body>
  <script>
      var vueInstance = new Vue({
        el: "#app",
        data: {
            firstName: "",
            about: "",
            textClass: "active",
            
            isActive: true,
            isError: false,
            
            activeColor: 'red',
            fontSize: 20
        },
        methods: {
        //    handleKeyup(e){
        //        console.log(e.target.value)
        //        this.firstName = e.target.value
        //    },
            changeActive(){
                this.isActive = !this.isActive
            },
            changeError(){
            this.isError = !this.isError
        }
        },
        computed: {
            objClass() {
                return {
                    active: this.isActive,
                    error: this.isError
                }
            }
        }
        });
  </script>
</html>